:root {
  --primary-shade-color: #212121;
  --first-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --seconadary-background-color: #2f303a;
  --btn-background-color: #f5f4fa;
  --primary-color: #000000;
}
body {
  font-family: "Roboto", "sans-serif";
  color: var(--primary-shade-color);
  background-color: var(--secondary-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  color: var(--primary-color);
}
.logo-white {
  color: var(--secondary-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-shade-color);
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.current {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.secondary-contact-link:hover,
.contact-link:focus,
.secondary-contact-link:focus,
.contact-map:focus,
.contact-map:hover {
  color: var(--accent-color);
}
.top-section {
  background-color: var(--seconadary-background-color);
}
.top-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.primary-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.advantages-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-shade-color);
}
.advantages-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
}
.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
}
.team-item-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.footer {
  background-color: var(--seconadary-background-color);
}
.contact-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.secondary-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.secondary-btn {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
  background-color: var(--btn-background-color);
}
.secondary-btn:focus,
.secondary-btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-shade-color);
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
